.Titulo{
    background-image: url(https://blog.aepla.es/wp-content/uploads/2023/01/beneficios-saludables-frutas-verduras.jpeg);
        width: 100%;
    padding: 20px 0;
}
.Titulo h1{
    text-align: center;
    color: beige;
}
.img-fruta {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
